<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="navbar">
    <!-- Begin page -->
    <div class="navbar-custom"    style=" background-color: #4d6e60;">
        <ul class="list-unstyled topnav-menu float-right mb-0">
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="/logout" style="color: white;
    font-size: large;" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="/assets/images/tat.jpg" alt="user-image" class="rounded-circle" style="width: 59px;
    height: 59px;">
                    <span class="d-none d-sm-inline-block ml-1 font-weight-medium">Bột</span>
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-outline"></i>
                        <span>Profile</span>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-settings-outline"></i>
                        <span>Settings</span>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-lock-outline"></i>
                        <span>Lock Screen</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout-variant"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>



        </ul>

        <!-- LOGO -->
        <div class="logo-box">
            <a href="index.html" class="logo text-center logo-dark">
                        <span class="logo-lg">
                            <img src="assets\images\heh.jpg" alt="" height="90">
                        </span>
                <span class="logo-sm">
                            <img src="assets\images\mlem.jpg" alt="" height="90">
                        </span>
            </a>

            <a href="index.html" class="logo text-center logo-light">
                        <span class="logo-lg">
                            <img src="assets\images\heh.jpg" alt="" height="90">
                        </span>
                <span class="logo-sm">
                            <img src="assets\images\batno.png" alt="" height="90">
                        </span>
            </a>
        </div>

    </div>
</th:block>